body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(/black-and-white-macro-photography-of-a-leaf-4593904.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#footer {
  height: 5vh;
  width: 100vw;
  background-color: rgba(24, 24, 24, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
}

#mainContent {
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15%;
  background-color: rgba(0, 0, 0, 0.199);
  border-radius: 1vh;
  border-top: 0.1vw solid rgba(22, 22, 22, 0.575);
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.349);
  border-left: 0.1vw solid rgba(100, 100, 100, 0.171);
  border-right: 0.1vw solid rgba(14, 14, 14, 0.774);
  box-shadow: 10px -1px 20px 2px rgba(0, 0, 0, 0.801),
    -8px 10px 15px 2px rgba(224, 223, 223, 0.308);
}

.quizWindow {
  height: 75%;
  width: 75%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.377);

  border-radius: 1vh;
  border-radius: 1vh;
  border-top: 0.1vw solid rgba(22, 22, 22, 0.575);
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.349);
  border-left: 0.1vw solid rgba(100, 100, 100, 0.171);
  border-right: 0.1vw solid rgba(14, 14, 14, 0.774);
  box-shadow: 10px -1px 20px 2px rgba(0, 0, 0, 0.801),
    -6px 8px 15px 2px rgba(156, 156, 156, 0.39);
}

.questionDiv {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.answerChoice {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 75%;
  margin-top: 1vh;
  position: relative;
  top: 5%;
  background-color: rgba(0, 0, 0, 0.295);
  color: aliceblue;
  border-radius: 1vh;
  border-radius: 1vh;
  border-top: 0.1vw solid rgba(22, 22, 22, 0.575);
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.349);
  border-left: 0.1vw solid rgba(100, 100, 100, 0.171);
  border-right: 0.1vw solid rgba(14, 14, 14, 0.774);
  box-shadow: 10px -1px 20px 2px rgba(0, 0, 0, 0.801),
    -4px 6px 10px 1px rgba(168, 168, 168, 0.322);
}

h1 {
  position: fixed;
  font-size: 5vw;
  color: aliceblue;
}

h6 {
  margin-top: 0.5%;
  color: aliceblue;
}
